@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

/* Optimize for 1650px resolution */
.container, .stream-area, .stream {
  max-width: 1650px;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1500px) {
  .container, .stream-area, .stream {
    max-width: 1240px;
  }
}

/* Small devices (phones, 600px and down) */
@media (max-width: 1000px) {
  .container, .stream-area, .stream {
    max-width: 100%;
  }
}


html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: rgb(128 129 145 / 24%);
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-color: #03032d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(163deg, #1f1d2b 21%, rgba(31, 29, 43, 0.3113620448) 64%);
  opacity: 0.4;
  content: "";
}

.container {
  background-color: rgb(0 0 0 / 60%);
  /*backdrop-filter: blur(8px); Creates Sluggish Experience */
  /*max-width: 1240px;*/
  max-height: 900px;
  height: 88vh;
  display: flex;
  overflow: hidden;
  transform: translate(-10px, -10px);
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px #01091a;
  position: relative;
}

.sidebar {
  width: 250px;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  text-align: center;

  svg {
    width: 100%;
    height: 50px;
  }
}

.sidebar .logo-expand {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  position: sticky;
}

.sidebar-link:hover,
.sidebar-link.is-active {
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.sidebar-link:hover:nth-child(2n+1) svg,
.sidebar-link.is-active:nth-child(2n+1) svg {
  background: #0008ff;
}

.sidebar-link:hover:nth-child(2n) svg,
.sidebar-link.is-active:nth-child(2n) svg {
  background: #0008ff;
}

.sidebar-link:hover:nth-child(2n+3) svg,
.sidebar-link.is-active:nth-child(2n+3) svg {
  background: #0008ff;
}

.sidebar.collapse {
  width: 90px;
  border-right: 1px solid var(--border-color);
}

.sidebar.collapse .logo-expand,
.sidebar.collapse .side-title {
  display: none;
}

.sidebar.collapse .logo {
  display: flex;
}

.sidebar.collapse .side-wrapper {
  width: 30px;
}

.sidebar.collapse .side-menu svg {
  margin-right: 30px;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--body-color);
}

.side-menu a+a {
  margin-top: 26px;
}

.side-menu svg {
  width: 30px;
  padding: 8px;
  border-radius: 10px;
  background-color: var(--button-bg);
  flex-shrink: 0;
  margin-right: 16px;
}

.side-menu svg:hover {
  color: #fff;
}

div#back {
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.side-title {
  font-size: 12px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.side-wrapper {
  border-bottom: 1px solid var(--border-color);
  padding: 36px 0;
  width: 145px;
}

.side-wrapper+.side-wrapper {
  border-bottom: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 30px;
}

.search-bar {
  height: 34px;
  width: 100%;
  max-width: 450px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--button-bg);
  border-radius: 8px;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  padding: 0 40px 0 16px;
  box-shadow: 0 0 0 2px rgba(134, 140, 160, 0.02);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 96%;
  color: #fff;
}

.sort {
  position: absolute;
  right: 40px;
  width: 85px;
  background: black;
  height: 40px;
  border: solid 2px #0008ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  color: white;

  svg {
    height: 100%;
    width: 27%;
    transition: 0.4s;
  }
}

.sort:hover {
  border: solid 3px rgb(0 51 255);
}

.user-settings {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-shrink: 0;
  margin-left: auto;
}

.user-settings svg {
  width: 10px;
  flex-shrink: 0;
}

@media screen and (max-width: 575px) {
  .user-settings svg {
    display: none;
  }
}

.user-settings .notify {
  position: relative;
}

.user-settings .notify svg {
  width: 20px;
  margin-left: 24px;
  flex-shrink: 0;
}

.user-settings .notify .notification {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ec5252;
  position: absolute;
  right: 1px;
  border: 1px solid var(--theme-bg);
  top: -2px;
}

@media screen and (max-width: 575px) {
  .user-settings .notify .notification {
    display: none;
  }
}

.user-img {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.user-name {
  color: #fff;
  font-size: 14px;
  margin: 0 6px 0 12px;
}

@media screen and (max-width: 575px) {
  .user-name {
    display: none;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 0 0px 10px 20px;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: grey transparent;
}


.main-header {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #1f1d2b 0%, #1f1d2b 78%, rgba(31, 29, 43, 0) 100%);
  z-index: 11;
}

.small-header {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 30px 0 20px;
}


.author-img {
  width: 52px;
  height: 52px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 4px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.author-img__wrapper {
  position: relative;
  flex-shrink: 0;
}

.author-img__wrapper svg {
  width: 16px;
  padding: 2px;
  background-color: #fff;
  color: #0daabc;
  border-radius: 50%;
  border: 2px solid #0daabc;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.author-name {
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 8px;
}

.author-info {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.author-detail {
  margin-left: 16px;
}

.seperate {
  width: 3px;
  height: 3px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 6px;
}

.seperate.video-seperate {
  background-color: var(--body-color);
}

.videos {
  display: grid;
  margin-top: 3vh;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

@media screen and (max-width: 980px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

.video {
  position: relative;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3f4060;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.three {
  height: 30vh;
  width: 22vw;
}

.four {
  height: 21vh;
  width: 16vw;
}

.video:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.video-wrapper {
  position: relative;
}

.video-name {
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
  padding: 12px 20px 0;
  overflow: hidden;
  background-color: var(--video-bg);
  z-index: 9;
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-view {
  font-size: 12px;
  padding: 12px 20px 20px;
  background-color: var(--video-bg);
  position: relative;
}

.video-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 0px 10px 3px;
  text-align: center;
  width: 100%;
  height: 90%;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.video-image {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  object-fit: cover;
  z-index: 0;
}

.video-by {
  color: white;
  padding: 12px 15px 0px;
  display: inline-flex;
  position: relative;
  z-index: 1;
}

.video-by:before {
  content: "";
  background-color: #04ff00;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 19px;
  right: 0px;
  z-index: 1;
}

.video-time {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.85);
  padding: 3px 8px;
  font-size: 12px;
  border-radius: 6px;
  top: 10px;
  z-index: 1;
  right: 8px;
  z-index: 1;
}

.video-author {
  position: absolute;
  right: 10px;
  bottom: -25px;
}

.video-author svg {
  background-color: #0aa0f7;
  color: #fff;
  border-color: var(--video-bg);
}

video {
  max-width: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  display: block;
  cursor: pointer;
}

.stream-area {
  background-color: rgb(0 0 0 / 60%);
  /*max-width: 1240px;*/
  max-height: 900px;
  height: 88vh;
  display: none;
  overflow: hidden;
  transform: translate(-10px, -10px);
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px #01091a;
  position: relative;
}

div.stream {
  /*max-width: 1240px;*/
  max-height: 900px;
  height: 88vh;
  width: 100%;
  cursor: none;
}

@media screen and (max-width: 940px) {
  .stream-area {
    flex-direction: column;
  }

  .stream-area .video-stream {
    width: 100%;
  }

  .stream-area .chat-stream {
    margin-left: 0;
    margin-top: 30px;
  }

  .stream-area .video-js.vjs-fluid {
    min-height: 250px;
  }

  .stream-area .msg__content {
    max-width: 100%;
  }
}

.show .stream-area {
  display: flex;
}

.show .main-header,
.show .main-blogs,
.show .small-header,
.show .videos {
  display: none;
}

@media screen and (max-width: 475px) {
  .main-blog__title {
    font-size: 20px;
  }

  .author-name {
    font-size: 14px;
  }

  .main-blog__author {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .author-detail {
    margin-left: 0;
  }

  .main-blog .author-img {
    margin-top: 14px;
  }

  .main-container {
    padding: 0 20px 20px;
  }

  .header {
    padding: 20px;
  }

  .sidebar.collapse {
    width: 40px;
  }

  .sidebar {
    align-items: center;
  }

  body {
    padding: 0;
  }

  .container {
    height: 100vh;
    border-radius: 0;
    max-height: 100%;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(21, 20, 26, 0.63);
  border-radius: 10px;
}

div.form {
  width: 100%;
  height: 100%;
  position: absolute;
  justify-content: center;
  background-color: rgb(0, 0 ,0 ,0.6);

  .close {
    position: absolute;
        right: 35px;
        top: 35px;
        height: 25px;
        width: 25px;
        cursor: pointer;
  }

  .form-container {
    position: absolute;
    justify-self: center;
    align-self: center;
    background-color: #0d0c0e;
    border: solid 2px #0008ff;
    height: 74vh;
    width: 25vw;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    padding: 5vh;
    overflow: scroll;

    .form-heading {
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .form-group {
      margin-bottom: 1rem;
      position: relative;
    }

    .form-input {
      width: 100%;
      padding: 0.5rem;
    }

    .submit-btn {
      width: 100%;
      background-color: #0008ff;
      color: white;
      padding: 0.5rem;
      border-radius: 1.25rem;
      cursor: pointer;
      border: none;
    }

    .submit-btn:hover {
      background-color: #0cea10;
    }
  }



  #artistDropdown {
    position: absolute;
    top: 100%;
    left: 0px;
    width: 100%;
    background: white;
    padding: 4px;
    border-radius: 0.45rem;
    display: block;
    z-index: 1;

    div {
      border-bottom: solid 1px black;
    }

    div:hover {
      background: #0008ff;
    }
  }


}


#artist-container {
  background: black;
  width: 19vw;
  margin-bottom: 1rem;
  overflow: scroll;
  display: flex;
}

.vjs-poster {
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.loader {
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid rgb(0, 8, 255);
  width: 35px;
  height: 35px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tag {
  display: inline;
  background-color: #007BFF;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin: 2px;
}

.tag .remove-tag {
  margin-left: 5px;
  cursor: pointer;
}

.tags-input-container input {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}
